* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 90vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f1ff;
}


.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: 3px solid black;
    border-radius: 20px;
    width: 400px;
    height: 540px;

    background-color: whitesmoke;
    gap: 20px;
}

.input-tela-login {
    padding: 20px;
}

.input-tela-login label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

}


.input-tela-login input {
    padding: 5px;
    width: 240px;
    height: 20px;
}

.input-tela-login button {
    padding: 10px;
    width: 100px;
    height: 40px;
}

#mensagem_erro_email {
    margin-top: 2px;
    display: none;
}

#id-senha {
    margin-top: -25px;
    margin-bottom: -30px;
}

.requerimento-senha {
    display: none;
}

.requerimento-senha li {
    margin-top: 1px;
    list-style-type: none;
    margin-left: 20px;
    color: #49525f;
}

#titulo {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

#loginBtn {
    background-color: #72afff;
    border-radius: 10px;
    width: 100px;
}